#body{
    height: 100vh;
    width: 100vw;
    margin: 0px 0px 0px 0px ;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/hand-giving-bowl-food-needy-person.jpg);
    background-size: cover;
}
#navigationBar{
    height: 8%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #001d3d;
}
#siteName{
    padding: 5px;
    padding-left: 50px;
    height: 40px;
    width: auto;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#navigationBarSecond{
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigationBarSecond{
    font-size: 20px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    margin-left: 20px;
}
#logoSizing{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loginBox{
    height: 80%;
    width: 50%;
    border: 5px solid #8ac926;
    box-shadow: -10px 10px 20px 10px rgba(0,0,0,0.9);;
    padding: 10px 25px 35ox 35px;
    margin-left: 0px;
    margin-top: -50px;
    border-radius:20px ;
    background-color: rgba(0,0,0,0.59);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#title{
    color: #8ac926;
    text-align: center;
    margin-top: 8%;
    font-size: 40px;
    font-weight: 800;
}

#loginForm{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#loginCredentials{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
}
.inputLoginCredentials{
    margin-bottom: 5%;
}
.input{
    height: 50px;
    width: 300px;
    outline: none;
    border: none;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 200;
    border-bottom: 1px solid #8ac926;
    color: #8ac926;
    background-color: transparent;
}
.input::placeholder{
    color: #8ac926;
}
.input:hover{
    border-bottom:3px solid #8ac926 ;
}
#submitButton{
    width: 250px;
    color: #8ac926;
    font-size: 30px;
    text-decoration: none;
    border-radius: 20px;
    background-color: transparent;
    border-color: #8ac926;
}
#signUpButton{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 15px;
    height: 50px;
    padding: bottom 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#signUpButton a{
    margin-bottom: 10px;
    color: #8ac926;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}
#forgotPassword{
    margin-bottom: 10px;
}
#signUp{
    margin-bottom: 10px;
}
#footerData{
    height: 3vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #001d3d;
    align-items: center;
}
.footerData a{
    margin-left: 10px ;
    margin-right: 10px ;
    color: #8ac926;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.footerData a:hover{
    border-bottom: 1px solid #8ac926;
}
@media (min-width:1441px) {
    #title{
        font-size: 60px;
    }
    .input{
        font-size: 40px;
        width: 500px;
        text-align: center;
        padding: 2px;
    }
    #submitButton{
        font-size: 40px;
        height: 150%;
        width: 400px;
        border-radius: 50px;
    }
    #signUpButton a{
        font-weight: 500;
        font-size: 30px;
    }
    .footerData a{
        font-size: 25px;
        font-weight: 600;
    }
}
@media (min-width:1281px) and (max-width:1440px) {
    #title{
        font-size: 40px;
    }
    .input{
        font-size: 20px;
        width: 300px;
        text-align: center;
        padding: 2px;
    }
    #submitButton{
        font-size: 20px;
        height: 150%;
        width: 200px;
        border-radius: 20px;
    }
    #signUpButton a{
        font-weight: 500;
        font-size: 15px;
    }
    .footerData a{
        font-size: 15px;
        font-weight: 600;
    }
}
@media (min-width:769px) and (max-width:1280px) {
    #title{
        font-size: 30px;
    }
    .input{
        font-size: 15px;
        width: 250px;
        text-align: center;
        padding: 2px;
    }
    #submitButton{
        font-size: 15px;
        height: 150%;
        width: 150px;
        border-radius: 20px;
    }
    #signUpButton a{
        font-weight: 500;
        font-size: 10px;
    }
    .footerData a{
        font-size: 10px;
        font-weight: 600;
    }
}
@media (min-width:500px) and (max-width:768px) {
    #title{
        font-size: 30px;
    }
    .input{
        font-size: 15px;
        width: 200px;
        text-align: center;
        padding: 2px;
    }
    #submitButton{
        font-size: 15px;
        height: 150%;
        width: 100px;
        border-radius: 20px;
    }
    #signUpButton a{
        font-weight: 500;
        font-size: 10px;
    }
    .footerData a{
        font-size: 10px;
        font-weight: 600;
    }
}
