<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/loginpagestylesheet.css">
    <title>Log In</title>
</head>

<body id="body">
    <nav id="navigationBar" class="body">
        <div id="navigationBarFirst" >
            <div id="siteName" class="navigationBarFirst"> zerohunger.com </div>
        </div>
    </nav>

    <div id="logoSizing">
        <div id="loginBox">
            <div id="title">Log In</div>
            <form id="loginForm">
                <div id="loginCredentials" >
                    <div id="username" class="inputLoginCredentials">
                        <input id="usernameBox" class="input" type="text" placeholder="Username">
                    </div>
                    <div id="password" class="inputLoginCredentials">
                        <input id="passwordBox" class="input" type="password" placeholder="Password">
                    </div>
                </div>
                    <a href="#">
                        <button id="submitButton">Submit</button>
                    </a>
                </button>
            </form>
            <div id="signUpButton">
                <div id="forgotPassword" class="signUpButtonElements">
                    <a href="/forgotpassword">Forgot Password?</a>
                </div>
                <div id="signUp" class="signUpButtonElements">
                    <a href="/signup">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</body>

<footer>
    <div id="footerData">
        <div id="aboutUs" class="footerData"><a href="" >About Us</a></div>
        <div id="contactUs" class="footerData"><a href="">Contact Us</a></div>
    </div>
</footer>
</html>
