<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
    <link rel="stylesheet" href=".css/resetPasswordStylesheet.css">
    <script>
        function checkPassword(){
            var string01 = document.getElementById("inputnewPasswordString01")
            var string02 = document.getElementById("inputnewPasswordString02")
            if(string01.value === string02.value && string01.value != '' && string02.value != ''){
                alert("You are going to forward to Log in Page.")
                document.getElementById("forwardingToLoginPage").href = "../loginPage/index.html"
            }else{
                alert("Check Passwords")
                let submitButton = document.getElementById("changePassword")
                let form = document.getElementById("newPassword")
                form.addEventListener("submit",function(event){
                    event.preventDefault(event)
                })
                document.getElementById("forwardingToLoginPage").href = "#"
                return;
            }
        }

        function passwordMismatch(){
            let newPassword = document.getElementById("inputnewPasswordString01").value;
            let retype_newPassword = document.getElementById("inputnewPasswordString02").value;
            document.getElementById("warningForMismatch").innerText = "Password doesn't matched. Recheck your Password."
            if( newPassword === '' || retype_newPassword === ''){
                document.getElementById("warningForMismatch").style.display = "block"; 
                document.getElementById("warningForMismatch").innerText = "Enter Valid Password"
                return;
            }

            if(newPassword === retype_newPassword){
                document.getElementById("warningForMismatch").style.display = "none"; 
            }else{
                document.getElementById("warningForMismatch").style.display = "block"; 
            }
        }
    </script>
</head>
<body>
    <nav id="navigationBar" class="body">
        <div id="navigationBarFirst" >
            <div id="siteName" class="navigationBarFirst"> zerohunger.com </div>
        </div>
    </nav>

    <div id="formSizing">
        <form id="newPassword">
            <div id="newPasswordString01" class="passwordString">
                Type New Password :
                <input type="password" id="inputnewPasswordString01" autocomplete="off">
            </div>
            <div id="newPasswordString02" class="passwordString">
                Re-type New Password :
                <input type="text"id="inputnewPasswordString02" autocomplete="off" onchange="passwordMismatch()">
            </div>
            <div id="warningForMismatch" style="display: none;">
                Password doesn't matched. Recheck your Password.
            </div>
            <button id="changePassword" onclick="passwordMismatch(),checkPassword()">
                <a id="forwardingToLoginPage" href="/index">
                    Change Password
                </a>
            </button>
        </form>
    </div>
</body>
</html>
