body{
    height: 100vh;
    width: 100vw;
    margin: 0px 0px 0px 0px ;
    overflow: hidden;
    background-image: url(../images/hand-giving-bowl-food-needy-person.jpg);
    background-size: cover;
}
#navigationBar{
    height: 8%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #001d3d;
}
#siteName{
    padding: 5px;
    padding-left: 50px;
    height: 40px;
    width: auto;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#navigationBarSecond{
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#formSizing{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#otpSendForm{
    height: 60%;
    width: 45%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid #8ac926;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.7);
}
#usernameOrEmail{
    width: 80%;
    font-size: 30px;
    color: #8ac926;
    text-align: center;
}
#usernameOrEmail input{
    width: 50%;
    background-color: transparent;
    outline: none;
    color: #8ac926;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #8ac926;
    margin: 10px;
    font-size: 25px;
    text-align: center;
}
#usernameOrEmail input::placeholder{
    color: #8ac926;
}
#usernameOrEmail input:hover{
    border-bottom: 5px solid #8ac926;
}
#usernameOrEmailSubmit{
    height: 8%;
    width: 20%;
    margin: 20px;
    font-size: 25px;
    color: #8ac926;
    border: none;
    outline: none;
    border: 2px solid #8ac926;
    border-radius: 30px;
    background-color: transparent;
}
#showOtpField{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#otpSent{
    text-align: center;
    color: #8ac926;
    font-size: 25px;
    margin: 20px 40px 20px 40px;
}
#otpField{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #8ac926;
    font-size: 25px;
    margin: 20px;
}
#otp{
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
}
.inputOtpField{
    height: 100%;
    width: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    border: none;
    border: 3px solid #8ac926;
    border-radius: 20px;
    background-color: transparent;
    text-align: center;
    color: #8ac926;
}
.inputOtpField::-webkit-inner-spin-button,
.inputOtpField::-webkit-outer-spin-button{
    display: none;
}
#otpVerification{
    height: 20%;
    width: 20%;
    margin: 20px;
    font-size: 25px;
    color: #8ac926;
    border: none;
    outline: none;
    border: 2px solid #8ac926;
    border-radius: 30px;
    background-color: transparent;
}
#otpVerification a {
    color: #8ac926;
    text-decoration: none;
}