* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(139, 232, 240, 0.5);
    z-index: -3;
}

/*----------------------------------------------------------------*/
/* navigationbar */
#navigationBar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navigationBar::before {
    content: "";
    background-color: #001d3d;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#navigationBarFirst {
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
}

#navigationBarFirst a {
    text-decoration: none;
    padding: 0px 15px;
}

.navbarBtn {
    text-decoration: none;
    color: white;
}

.navbarBtn:hover {
    background-color: aliceblue;
    color: #001d3d;
    border-radius: 15px;
}


#siteName{
    height: 40px;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

#navigationBarSecond{
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    font-size: 20px;
    margin-left: 20px;
}

#navigationBarSecond a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

#navigationBarSecond a:hover {
    text-decoration: underline;
}
/* ---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/* home */
#home {
    display: flex;
    align-items: center;
    justify-content: center;
}

#createAccountDialougeBox {
    color: #8ac926;
    box-sizing: border-box;
    margin: 60px 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    border: 5px solid #8ac926;
    border-radius: 40px;
    box-shadow: -20px 20px 30px 20px rgba(0,0,0,0.9);
    /* background-color: aliceblue; */
    background-color: rgba(20,33,61,0.9);
}

#createAccountDialougeBox::before {
    content: "";
    position: absolute;
    background: url('../images/hand-giving-bowl-food-needy-person.jpg') no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 430px;
    width: 100%;
    z-index: -2;
    opacity: 0.9;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form label {
    padding: 6px;
    font-size: 1.1rem;
    margin: 2px 25px;
}

.form input {
    color: #8ac926;
    padding: 5px;
    font-size: 1.1rem;
    margin: 2px 25px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: #8ac926 2px solid;
}

.formContainer {
    display: flex;
    flex-direction: row;
}

.leftContainer {
    display: flex;
    flex-direction: column;
}

.rightContainer {
    display: flex;
    flex-direction: column;
}

#headline{
    text-decoration: underline;
    text-align: center;
    font-size: 3.2rem;
    padding: 25px 0px;
    color: #8ac926;
}

input::placeholder{
    color: #8ac926;
}

#typeOfDonor {
    padding: 20px;
}

.selectTag {
    border: none;
    border-bottom: 2px solid black;
    margin-top: 30px;
    font-size: 1rem;
    padding: 5px;
}

#saveAndProceedButton {
    border: 2px green solid;
    background-color: white;
    color: green;
    margin: 20px;
    padding: 15px;
    font-size: 1rem;
    border-radius: 15px;
}

#saveAndProceedButton:hover {
    color: white;
    background-color: green;
    border-color: green;
    cursor: pointer;
}

#specificDays {
    margin: 20px 10px;
}
/* #contactData{
    line-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.userContactData{
    height: 100%;
    width: 20%;
}
.userContactData input{
    width: 100%;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #8ac926;
}
.userContactData input:hover{
    border-bottom: 3px solid #8ac926;
}
#addressData{
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.addressData{
    display: flex;
    justify-content: space-evenly;
}
#addressData input{
    font-size: 24px;
}
#addressData input:hover{
    border-bottom: 3px solid #8ac926;
}
#addressDataOne{
    margin-top: 20px;
    margin-bottom: 20px;
}
#inputAddress{
    width: 50%;
}
#inputAddress input{
    width: 100%;
}
#addressDataTwo{
    margin-top: 20px;
    margin-bottom: 20px;
}
#typeOfDonar{
    display: flex;
    justify-content: center;
}
#typeOfDonarSelect{
    outline: none;
    border: none;
    border-bottom: 1px solid #8ac926;
    background-color: transparent;
    margin: 10px;
    padding: 10px;
    color: #8ac926;
    font-size: 24px;
}
#typeOfDonar select:hover{
    border-bottom: 3px solid #8ac926;
}
#onSelectRegularDonar{
    display: flex;
    justify-content: space-evenly;
}
#howFrequentlyWantToDonate{
    outline: none;
    border: none;
    border-bottom: 1px solid #8ac926;
    background-color: transparent;
    margin: 10px;
    padding: 10px;
    color: #8ac926;
    font-size: 24px;
}
#howFrequentlyWantToDonate:hover{
    border-bottom: 3px solid #8ac926;
}
#specificDays{
    color: #8ac926;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin: 10px;
    padding: 20px;
}
#specificDays input{
    width: 30px;
    font-size: 24px;
}
#specificDays label{
    font-size: 24px;
}
#specificDate input{
    width: 300px;
    size: 40px;
    font-size: 24px;
    margin: 10px;
    padding: 20px;
}
.time{
    display: flex;
    justify-content: center;
}
#time{
    outline: none;
    border: none;
    border-bottom: 1px solid #8ac926;
    background-color: transparent;
    margin: 10px;
    padding: 10px;
    color: #8ac926;
    font-size: 24px;
}
#time:hover{
    border-bottom: 3px solid #8ac926;
}
#saveAndProceed{
    display: flex;
    justify-content: center;
}
#saveAndProceedButton{
    cursor: pointer;
    margin:  2.5%;
    border: 3px solid transparent;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 10% 10px 10% ;
    background-color: #8ac926;
    color: #001d3d;
} */