#body{
    height: 100vh;
    width: 100vw;
    margin: 0px 0px 0px 0px ;
    overflow: hidden;
    background-image: url(../images/hand-giving-bowl-food-needy-person.jpg);
    background-size: cover;
}
#navigationBar{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #001d3d;
}
#siteName{
    padding-left: 50px;
    padding-top: 10px;
    height: 40px;
    width: auto;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
#navigationBarSecond{
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navigationBarSecond{
    font-size: 20px;
    border: 4px double #8ac926;
    border-radius: 10px;
    background-color: #001d3d;
    margin-left: 20px;
}
#logInButton a{
    color: #8ac926;
    text-decoration: none;
    font-weight: 800;
}
input::placeholder{
    color: #8ac926;
}
input{
    outline: none;
    border: none;
    border-bottom: 1px solid #8ac926;
    background-color: transparent;
    padding: 5px;
    color: #8ac926;
}
input :hover{
    border-bottom: 3px solid #8ac926;
}
input:-webkit-autofill {
    background-color: transparent;
}
input:-webkit-autofill:focus {
    background-color:transparent;
}
#createAccountDialougeBox{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.createAccountDialougeBox{
    height: 90%;
    width: 80%;
    border: 5px solid #8ac926;
    border-radius: 40px;
    background-color: rgba(20,33,61,0.9);
    box-shadow: -20px 20px 30px 20px rgba(0,0,0,0.9);
}
#headline{
    text-align: center;
    font-size: 50px;
    margin: 10px 30% 10px 30%;
    padding: 10px 10px 10px 10px;
    color: #8ac926;
    border: 3px double #8ac926;
    border-radius: 20px;
}
#contactData{
    line-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.userContactData{
    height: 100%;
    width: 20%;
}
.userContactData input{
    width: 100%;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #8ac926;
}
.userContactData input:hover{
    border-bottom: 3px solid #8ac926;
}
#addressData{
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.addressData{
    display: flex;
    justify-content: space-evenly;
}
#addressData input{
    font-size: 24px;
}
#addressData input:hover{
    border-bottom: 3px solid #8ac926;
}
#addressDataOne{
    margin-top: 20px;
    margin-bottom: 20px;
}
#inputAddress{
    width: 50%;
}
#inputAddress input{
    width: 100%;
}
#addressDataTwo{
    margin-top: 20px;
    margin-bottom: 20px;
}
#typeOfDonar{
    display: flex;
    justify-content: center;
}
#typeOfDonarSelect{
    outline: none;
    border: none;
    border-bottom: 1px solid #8ac926;
    background-color: transparent;
    margin: 10px;
    padding: 10px;
    color: #8ac926;
    font-size: 24px;
}
#typeOfDonar select:hover{
    border-bottom: 3px solid #8ac926;
}
#onSelectRegularDonar{
    display: flex;
    justify-content: space-evenly;
}
#howFrequentlyWantToDonate{
    outline: none;
    border: none;
    border-bottom: 1px solid #8ac926;
    background-color: transparent;
    margin: 10px;
    padding: 10px;
    color: #8ac926;
    font-size: 24px;
}
#howFrequentlyWantToDonate:hover{
    border-bottom: 3px solid #8ac926;
}
#specificDays{
    color: #8ac926;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin: 10px;
    padding: 20px;
}
#specificDays input{
    width: 30px;
    font-size: 24px;
}
#specificDays label{
    font-size: 24px;
}
#specificDate input{
    width: 300px;
    size: 40px;
    font-size: 24px;
    margin: 10px;
    padding: 20px;
}
.time{
    display: flex;
    justify-content: center;
}
#time{
    outline: none;
    border: none;
    border-bottom: 1px solid #8ac926;
    background-color: transparent;
    margin: 10px;
    padding: 10px;
    color: #8ac926;
    font-size: 24px;
}
#time:hover{
    border-bottom: 3px solid #8ac926;
}
#saveAndProceed{
    display: flex;
    justify-content: center;
}
#saveAndProceedButton{
    margin:  2.5%;
    border: 3px solid transparent;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 10% 10px 10% ;
    background-color: #8ac926;
    color: #001d3d;
}
#footer{
    position: fixed;
   
}
#footerData{
    margin-top: 0.3%;
    margin-bottom: 0px;
    height: 3vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #001d3d;
    align-items: center;
}
.footerData a{
    margin-left: 10px ;
    margin-right: 10px ;
    color: #8ac926;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.footerData a:hover{
    border-bottom: 1px solid #8ac926;
}